@import "tailwindcss";

@theme { 
  --font-heading: Cormorant_Garamond;
  --font-body: Work_Sans;

  --color-background: #f6f7f2;
  --color-primary: #3c4f6d;
  --color-accent: #a5b5c4;
  --color-muted: #d9d8dd;
  --color-foreground: #0a1944;

  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
}

/* default CSS */
:root { 
  --font-heading: 'Cormorant Garamond', serif;
  --font-body: 'Work Sans', sans-serif;
  scroll-behavior: smooth;

  background: #f6f7f2;
  --color-primary: #3c4f6d;
  --color-accent: #a5b5c4;
  --color-muted: #d9d8dd;
  --color-foreground: #0a1944;

  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
}