@import "tailwindcss";

@theme { 
  --font-heading: Cormorant_Garamond;
  --font-body: Work_Sans;

  --color-background: #f6f7f2;
  --color-primary: #3c4f6d;
  --color-accent: #a5b5c4;
  --color-muted: #d9d8dd;
  --color-foreground: #0a1944;

  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
}

/* default CSS */
:root { 
  --font-heading: 'Cormorant Garamond', serif;
  --font-body: 'Work Sans', sans-serif;
  scroll-behavior: smooth;

  background: #f6f7f2;
  --color-primary: #3c4f6d;
  --color-accent: #a5b5c4;
  --color-muted: #d9d8dd;
  --color-foreground: #0a1944;

  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
}

#mobile-menu-toggle span {
  display: block;
  position: absolute;
  height: 0.3em;
  width: 100%;
  background: black;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#mobile-menu-toggle span:nth-child(1) {
  top: 0em;
}

#mobile-menu-toggle span:nth-child(2), #mobile-menu-toggle span:nth-child(3) {
  top: 0.8em;
}

#mobile-menu-toggle span:nth-child(4) {
  top: 1.6em;
}

#mobile-menu-toggle.open span:nth-child(1) {
  top: 0.8em;
  width: 0%;
  left: 50%;
}

#mobile-menu-toggle.open span:nth-child(2) {
  transform: rotate(45deg);
}

#mobile-menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#mobile-menu-toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}